<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>

		<h1>This is new about page....</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
			possimus est tempora assumenda fugiat iste sint deleniti maxime ut
			perspiciatis voluptates laudantium vel tenetur incidunt explicabo
			obcaecati alias et nisi consequatur optio quis sapiente qui. Ad
			deserunt reiciendis illum sit tenetur nisi neque a veniam expedita
			sequi eveniet odit fugit.</p>


	</section>


</body>
</html>