<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>

<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
		<h1>Adding CSS, JS and Image in Thymeleaf</h1>

		<img th:src="@{img/kohli.jpg}" />

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
			sed rem aperiam assumenda officiis quis iure id vitae qui mollitia
			vel veritatis accusantium nobis quisquam quam. Cumque nihil
			recusandae nostrum eveniet distinctio earum quas maiores placeat enim
			similique iure ad hic expedita. Similique cum reiciendis quos beatae
			tenetur impedit mollitia.</p>
	</div>




	<script th:src="@{/js/myjs.js}"></script>
</body>
</html>