<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example Of Loop</title>
</head>
<body>
	<h1>Going to traverse elements in collections :-</h1>
	<h1 th:text="${names}"></h1>

	<ul>
		<li th:each="n,status : ${names}">
			<span th:style="${status.odd} ? 'font-weight:bold' : 'color:red'" th:text="${status.index} + ' ' +${n}"></span>
		</li>

	<!-- 
		
		index : the current iteration index, starting with zero(0)
		count : the number of elements processed so far
		size : 	the total number of elements in list
		even/odd : check is current iteration index is even or odd
		first : checks if the current iteration is the first one
		last : check if the current iteration is the last one
	
	
	 -->

	</ul>
	
	

</body>
</html>